@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../assests/background-one.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero > header {
  display: flex;
  align-items: center;
}

header {
  padding-top: 49px;
}

header > h3 > a {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  width: 91px;
  height: 16px;
  padding-left: 152px;
}

header > nav > ul {
  display: flex;
  gap: 32px;
  height: 16px;
  padding-left: 408px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

header > nav > ul > li:hover {
  border-bottom: 1px solid #ffffff;
}

.hero > .sec-logo-headline {
  margin-top: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero > .sec-logo-headline > h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}

.hero > .sec-logo-headline > p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
}
main {
  padding: 0;
  margin: 0;
}

main > .sec-two {
  width: 100%;
  height: 700px;
  background-image: url(../assests/background-middle.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 87px;
}
main > .sec-two > h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
main > .sec-two > p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #666666;
  margin-top: 40px;
}
main > .sec-two > article {
  display: flex;
  justify-content: center;
}
main > .sec-two > article > p {
  margin-top: 48px;
  width: 983px;
  height: 194px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
main > .sec-two > button {
  padding: 5px 18px;
  font-family: "Oswald Regular";
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  background: #55c2d8;
  border-radius: 18px;
  border: none;
}

main > .sec-three {
  width: 100%;

  height: 666px;
  background-image: url(../assests/background-last.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 87px;
  position: relative;
}
main > .sec-three > .bg-color-overly {
  top: 0;
  position: absolute;
  background-color: rgba(140, 79, 42, 0.3);
  width: 100%;
  height: 666px;
  z-index: 10;
}
main > .sec-three > .bg-color-overly > h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
main > .sec-three > .bg-color-overly > button {
  margin-top: 53px;
  width: 150px;
  height: 150px;
  left: 525px;
  top: 1754px;
  background: #39c2d7;
  border-radius: 50%;
  border: none;
}
main > .sec-three > .bg-color-overly > button > span {
  padding-left: 10px;
  font-size: 70px;
  color: #ffffff;
  border-radius: 2px;
}

main > .sec-three > .bg-color-overly > h3 {
  margin-top: 70px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
footer {
  width: 100%;
  height: 170px;
  background: #464547;
}

footer > .sec-last {
  padding-top: 19px;
  padding-left: 145px;
}
footer > .sec-last > span > span {
  margin-left: 6px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
footer > .sec-last > address {
  margin-top: 16px;
}
footer > .sec-last > address,
footer > .sec-last > p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
